<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First Sinatra App!</title>
  </head>
  <body>
    <a href='/'>Home</a>
    |
    <a href='/about'>About Us</a>
    <hr>
    <%= yield %>
  </body>
</html>
